.additionalConditions {
    background: rgba(50, 50, 50, 0.4);
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.conditionsGrid {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}