.windSpeed {
    background: rgba(50, 50, 50, 0.4);
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.speedometer {
    display: flex;
    justify-content: center;
    align-items: center;
}